flows.json
[{"id":"533497c9.2fe938","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"25da994.138e466","type":"debug","z":"533497c9.2fe938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":260,"wires":[]},{"id":"ebfbe922.abe2d8","type":"ibmiot in","z":"533497c9.2fe938","authentication":"apiKey","apiKey":"d1b36698.c1f7c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":570,"y":360,"wires":[["aae70ca8.f8574","154d05fa.c1163a"]]},{"id":"154d05fa.c1163a","type":"function","z":"533497c9.2fe938","name":"Temperature","func":"global.set(\"temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["25da994.138e466","525aa20.5ffde6"]]},{"id":"aae70ca8.f8574","type":"function","z":"533497c9.2fe938","name":"Pulse rate","func":"global.set(\"pulse\",msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":380,"wires":[["25da994.138e466","e359e47c.ab5508","6baf6c40.efdd04"]]},{"id":"788194d9.6d225c","type":"http in","z":"533497c9.2fe938","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":560,"y":580,"wires":[["1d139836.e695b8"]]},{"id":"7e93db55.609d44","type":"http response","z":"533497c9.2fe938","name":"","statusCode":"","headers":{},"x":1110,"y":580,"wires":[]},{"id":"1d139836.e695b8","type":"function","z":"533497c9.2fe938","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'pulse':global.get(\"pulse\")}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":600,"wires":[["7e93db55.609d44"]]},{"id":"525aa20.5ffde6","type":"ui_gauge","z":"533497c9.2fe938","name":"","group":"8b0b1fbb.34ab5","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":160,"wires":[]},{"id":"e359e47c.ab5508","type":"ui_gauge","z":"533497c9.2fe938","name":"","group":"8b0b1fbb.34ab5","order":3,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{value}}","min":"50","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":380,"wires":[]},{"id":"6baf6c40.efdd04","type":"debug","z":"533497c9.2fe938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":580,"wires":[]},{"id":"d1b36698.c1f7c8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8b0b1fbb.34ab5","type":"ui_group","z":"","name":"Default","tab":"6b0fba2b.dd1cd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b0fba2b.dd1cd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]